{% extends 'base.html' %}
{% block title %} Most Dangerous App {% endblock %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
            <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                <div class="card-body py-4 px-4 px-md-5">
                    <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                    <h1 style="color: #343a40">How many minutes to write?</h1>
                    {{ render_form(form) }}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

